<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.diary.mapper.KeywordMapper">
    <select id="getTime" resultType="string">
        select now()
    </select>
    <insert id="addKeyword">
        insert into keyword (directoryId, keyword) values (#{directoryId}, #{keyword})
    </insert>
    <select id="getKeyword" resultType="String">
        select keyword from keyword where directoryId = #{directoryId}
    </select>

</mapper>
